<h1>Sign up</h1>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Username: <%= f.text_field :username %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <span class="waves-effect waves-light btn"><%= f.submit "Sign up" %></span>
<% end %>
